.contact-form {
    padding: 0 1.25rem;
    position: relative;

    @include for-size(phone-large) {
        padding: 0;
    }
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    max-width: 31.25rem; 
    display: flex;
    flex-direction: column;
    padding: 0.75rem; 
    border: 0.0625rem solid map-get($colors , c-gray); 
    border-radius: 0.25rem; 
    box-sizing: border-box;  
    resize: vertical;
    margin-bottom: 0.75rem;
}
  
input[type=submit] {
    color: map-get($colors , c-white);
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.sub {
    height: 12.5rem;
}

.btn-get-in-touch {
    width: 7.1875rem;
    height: 2.375rem;
    margin-top: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid map-get($colors , c-gray);

    &__text {
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    }
}

form.error input[type=email]{
    border-color: map-get($colors , c-red);
}

form .error-text {
    position: absolute;
    top: 9.1rem;
    left: 1.875rem;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    color: map-get($colors , c-red);
    margin: 0;
}

.error-img {
    width: 1rem;
    position: absolute;
    top: 8.9375rem;
    left: 0.25rem;
}
