.form {
    padding: 0 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;

    @include for-size(phone-large) {
        padding: 0;
        width: 50%;
    }

    @include for-size(small-resolution) {
        align-items: center;
    }
}

.form__input, textarea {
    width: 100%;
    max-width: 31.25rem; 
    display: flex;
    flex-direction: column;
    padding: 0.75rem; 
    border: 0.0625rem solid map-get($colors , c-gray); 
    border-radius: 0.25rem; 
    box-sizing: border-box;  
    resize: vertical;
}
  
input[type=submit] {
    color: map-get($colors , c-white);
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.sub {
    height: 12.5rem;
}

.btn-get-in-touch {
    width: 7.1875rem;
    height: 2.375rem;
    margin-top: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid map-get($colors , c-gray);
    cursor: pointer;

    &__text {
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    }
}

.has-error {
    border-color: map-get($colors , c-red);
}

.form__error {
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    color: map-get($colors , c-red);
    margin: 5px;
    visibility: hidden;
}

.contact__text {
    padding: 0 1.25rem;

    @include for-size(phone-large) {
        width: 50%;
    }
}

.contact__text-desc {
    font-size: 1.1875em;
    color: map-get($colors , c-white);
}

.icon-link__img {
    width: 2rem;
    height: auto;
    margin-right: 1.25rem;
    filter: grayscale(1) invert(1);

    @include for-size(phone-large) {
        width: 2.5rem;
    }
}