body {
    background-color: map-get($app-layout, app-bg);
    color: map-get($colors, c-black);
    font-family: map-get($fonts, montserrat-regularr);
    font-size: 16px;
}
body.dark {
    background-color: map-get($app-layout, app-bg-dark);
    color: map-get($colors, c-white);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}