$app-layout: (
    app-bg: #000,
    app-bg-dark: #fff,
    header-bg: #9898ff,
    section-bg: #98feff,
);

$fonts: (
    montserrat-regularr: 'montserrat-regular'
);

$colors: (
    menu-hover: #ffa818,
    c-white: #FFFFFF,
    c-black: #000000,
    c-gray: #808080,
    c-red: #FF0000
);