.about-me__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me__title-text {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1875rem;
    color: map-get($colors , c-white);
    border-bottom: 0.25rem solid map-get($colors , menu-hover);
}

.about-me__container {
    width: 100%;
    height: auto;
    max-width: 1180px;
    margin: 3.125rem auto 0;
    display: block;
    justify-content: center;

    @include for-size(phone-large) {
        display: flex;
    }
}

.about-me__photo {
    width: 100%;
    height: auto;
    max-width: 35%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-size(phone-large) {
       margin: 0;
    }
}

.about-me__photo-img {
    width: auto;
    height: auto;
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 1.25rem 0.125rem map-get($colors , text-primary);

}

.about-me__text {
    width: 100%;  
    font-size: 1.25em;
    font-weight: bold;
    color: map-get($colors , c-white);
    padding: 0;
   
    @include for-size(phone-large) {
        display: block;
        padding: 0 2.5rem;
        max-width: 65%;
    }
}

.about-me__text-desc {
    padding: 0 1.25rem;

    @include for-size(phone-large) {
        padding: 0;
    }
}




