.skills-icons__container {
    display: grid;
    margin-top: 6.25rem;
    padding: 0 1.25rem;
    column-gap: 3.125rem;
    row-gap: 3.125rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    place-items: center;

    @include for-size(phone-large) {
        padding: 0;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include for-size(small-resolution) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.skill-icons {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: grayscale(1) invert(1);

    @include for-size(phone-large) {
        width: 25%;
    }
}

.skill-icons__text {
    color: map-get($colors , text-primary);
    font-weight: bold;
    letter-spacing: 0.125rem;
}

.dark .skill-icons__text {
    color: map-get($colors , text-primary);
}

.skill-icons__img {
    width: 100%;
    max-width: 4rem;
}
