.container-welcome {
    width: 100%;
    max-width: 1180px;
    height: 70vh;
    color: map-get($colors , c-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

    @include for-size(phone-large) {
        height: 100vh;
        align-items: baseline;
    }

    @include for-size(phone-small) {
        width: auto;
        padding: 0 1.25rem;
        font-size: 0.8em;
    }
}

.dark .container-welcome {
    color: map-get($colors , c-black);
}

.welcome__text {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;    
    width: 100%;
    max-width: 19.5rem;
    letter-spacing: 3px;

    @include for-size(phone-large) {
        margin-left: 70px;
        font-size: 1.2em;
        max-width: 29.5rem;
    }

    @include for-size(small-resolution) {
        font-size: 0.8em; 
    }
}

.welcome__text-name, .welcome__text-desc-top, .welcome__text-desc-bottom {
    margin: 0;
}

.welcome__text-desc-top, .welcome__text-desc-bottom {
    margin-top: 10px;
}

.welcome__text-name {
    margin: 0;
    position: relative;
}

.text-name__title {
    padding: 16px 0;
}

.slide-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: map-get($colors , menu-hover);
    animation: sideToLeft 2s ease forwards;
}

@keyframes sideToLeft {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}